.list-view {
  display: flex;
  gap: 40px;

.data-row {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  border-radius: 7px;
  background-color: variables.$white;
  * {
    width: 150px;
  }
  transition: box-shadow 100ms ease-in-out;
  &.selected {
    box-shadow: 1px 1px 5px 0px rgba(104, 124, 147, 0.2);
    background-color: variables.$light-tint;
  }
  &:hover {
    box-shadow: 1px 1px 5px 0px rgba(104, 124, 147, 0.2);
    background-color: variables.$light-tint;
  }
  
  .date-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    svg {
      flex: 1;
    }

    span {
      flex: 4;
    }
  }

  .name-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 300px;

    svg {
      flex: 1;
    }

    p {
      flex: 4;
    }
  }
}

.document-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data {
  padding: 20px 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.list-preview-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list-preview {
  min-height: 400px;
  background-color: white;
  border-radius: 7px;
  padding: 10px;
}
.approve {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: variables.$primary;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  svg {
    fill: variables.$white !important;
  }
}
.edit-field { 
  input {
    font-family: "Inter", serif;
    font-size: 0.875rem;
    color: variables.$secondary
  }
  svg {
    fill: variables.$tertiary !important;
  }
}
.checkmark {
  svg{
    fill: variables.$green !important;
  };
}
.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$light-tint;
  height: 30px;
  padding: 15px 10px;
  margin-bottom: 5px;
  input {
    background-color: transparent;
    font-family: "Inter", serif;
    font-size: 0.875rem;
    color: variables.$secondary
  }
}
.editable-field {
  gap: 20px
}
}