input {
  display: none;
}

label {
  cursor: pointer;
}

.input-wrapper {
  display: block;
  height: 288px;
  width: 300px;
  position: relative;
  pointer-events: auto;
}

.input-container {
  height: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$dark-tint;
  border-radius: 7px 7px 0 0;
}

.input-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$white;
  height: 77px;
  font-weight: 600;
  border-radius: 0 0 7px 7px;
}