$primary: hsl(187, 100%, 33%);
$primary-active: hsl(187, 100%, 23%);
$primary-disabled: #77c1cc;
$dark: #1e2734;
$default: #41566f;
$default-active: hsl(213, 26%, 25%);
$secondary: #687c93;
$tertiary: #c6ccd8;
$dark-tint: #e4e8ef;
$light-tint: #f4f6f9;
$white: #fff;
$black: #171725;