form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.empty-preview {
  width: 300px;
  height: 200px;
  background-color: variables.$dark-tint;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: variables.$tertiary
}

.Example__container__document {
  width: 300px;
}

.response-preview { 
  height: 600px; 
  width: 700px;
}

.response {
  display: block;
  width: 700px;
  min-height: 600px;
  background-color: variables.$dark-tint;
  padding: 20px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
}

@media only screen and (max-width: 1080px) {
  .page-wrapper { 
    flex-direction: column;
    align-items: center;
  }

  .empty-preview { 
    width: 100%;
  }
}

.response-container {
  display: flex;
  flex-direction: column;
}

.resppnse-line {
  padding: 5px; 
}

.response-container-with-raw {
  background-color: variables.$dark-tint;
  border-radius: 7px;
  width: 700px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.show-raw-button {
  background-color: variables.$tertiary;
  color: variables.$white;
  font-weight: 600;
  padding: 10px 15px;
  border-bottom-left-radius: 25px;
}