#root {
  background-color: variables.$light-tint;
  min-height: 100vh;
  width: 100%;
}

.page-with-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-body { 
  margin: 30px;
}